.backgroundStyle {
    background-image: url('/public/gradientBg.png'); 
    background-size: cover; 
  }
  .navbar {
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar:hover {
    transform: translateX(250px); /* Pomiči navbar za određenu širinu */
  }
  
  .text-center {
    transition: margin-left 0.3s ease-in-out;
  }
  
  .navbar:hover ~ .row .text-center {
    margin-left: 250px; /* Pomiči tekst udesno kada se navbar hoveruje */
  }
  